* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gilroy Regular';
  border: #b4bece;
}

html {
  /* background-color: #f5f6f8; */
  background-color: #d9d8e4;
  overflow: hidden;
}
body {
  overflow: hidden;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('./components/fonts/Gilroy-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy Medium';
  src: url('./components/fonts/Gilroy-Medium.ttf');
  font-weight: medium;
}
@font-face {
  font-family: 'Gilroy Bold';
  src: url('./components/fonts/Gilroy-Bold.ttf');
  font-weight: Bold;
}
